body{
    color: black;
    background-color: rgba(88, 88, 74, 0.171);                             /*new command*/
    font-family: 'Roboto', sans-serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 15px;
}

.column {
    float: left;
    width: 32.0%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    text-align:center
}